<h1><%= a%></h1>
<%= form_with model:@question do|f|%>
	<div>
		<%= f.label :title%><br>
		<%= f.text_field :title%>
	</div>
	<div>
		<%= f.collection_check_boxes :category_ids, Category.all, :id, :name%>
	</div>
	<%= f.fields_for :options do |option|%>
		<div>
			<%= option.label :Option1%><br>
			<%= option.text_field :title%>
			<%= option.check_box :correct%>
		</div>
	<% end %>
	<%= f.fields_for :options do |option|%>
		<div>
			<%= option.label :Option2%><br>
			<%= option.text_field :title%>
			<%= option.check_box :correct%>
		</div>
	<% end %>
	<%= f.fields_for :options do |option|%>
		<div>
			<%= option.label :Option3%><br>
			<%= option.text_field :title%>
			<%= option.check_box :correct%>
		</div>
	<% end%>
	<div>
		<%= f.submit data: {turbo:false}%>
	</div>
<%end %>
