<% i=0%>
<% @questions.each do |q| %>
	<%question=Question.find(q.question_id)%>
	<%= question.title%>
	<h2>Options</h2>
	<%= render question.options%>
	<% while Option.find_by(id:@quiz.user_answer[i])==nil%>
		<%i=i+1%>
	<% end%>
	<p>Answer: <%=Option.find(@quiz.user_answer[i]).title%></p>
	<p>Correct:<%=Option.find(@quiz.user_answer[i]).correct%></p>
	<% i=i+1%>
<%end%>
<p> Score:<%= @quiz.score%></p>
<p>Percentage:<%= @quiz.percentage%></p>
<%= link_to 'Delete Quiz',quiz_path(@quiz), data:{turbo_method: :delete} if policy(@quiz).destroy?%>
