<body class="bg-gradient-primary">
	<div class="container">
		<div class="card o-hidden border-0 shadow-lg my-3">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Edit Profile!</h1>
							</div>
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
								<%= render "devise/shared/error_messages", resource: resource %>
								<div class="user">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0 field">
											<%= f.text_field :first_name,class: "form-control form-control-user", id: "exampleFirstName", placeholder: "First Name",autofocus: true, required:true %>
										</div>
										<div class="col-sm-6 field">
											<%= f.text_field :last_name,class: "form-control form-control-user", id: "exampleLasttName", placeholder: "Last Name",autofocus: true%>
										</div>
									</div>
									<div class="form-group">
										<%= f.email_field :email,class:"form-control form-control-user", id:"exampleInputEmail",placeholder:"Email Address....", autofocus: true, autocomplete: "email"%>
									</div>
									<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
										<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
									<% end %>
									<div class="form-group">
										<%= f.password_field :current_password,class:"form-control form-control-user", id:"exampleInputEmail",placeholder:"Current Password....", autofocus: true, autocomplete: "current-password", required:true%>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<%= f.password_field :password,class:"form-control form-control-user", id:"exampleInputPassword",placeholder:"New Password....", autocomplete: "new-password" %>
											<% if @minimum_password_length %>
												<em>(<%= @minimum_password_length %> characters minimum)</em>
											<% end %><br />
										</div>
										<div class="col-sm-6">
											<%= f.password_field :password_confirmation,class:"form-control form-control-user", id:"exampleRepeatPassword",placeholder:"Confirm  Password....", autocomplete: "new-password" %>
										</div>
									</div>
									<div class="actions">
										<%= f.submit "Update Profile",class: "btn btn-primary btn-user btn-block", data:{turbo:false} %>
									</div>
									<hr>
								<% end %>
								<%= button_to(registration_path(resource_name) ,class: 'btn btn-google btn-user btn-block',data: { confirm: "Are you sure?" }, method: :delete ) do%>
									<i class="fa fa-trash"></i> Delete My Account
								<% end %>
							</div>
							<hr>
							<div class="text-center">
								<%= link_to 'Back', :back,class: 'btn btn-facebook btn-user btn-block ' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
