<%if option.image?%>
	<div class='col-4'>
		<% if option.correct%>
			<div class="card mb-2 correct-option-image" >
				<%= link_to image_tag(option.image.thumb.url,alt:'Image',size: "200x200"),option.image.url, class: "img-fluid p-3 mx-auto" if option.image? %>
				<p class='p-1 mx-4'><input class= "form-check-input"type="checkbox" checked disabled>
					<%= option.title %>
				</p>
			</div>
		<%else%>
			<div class="card mb-2 incorrect-option-image">
				<%= link_to image_tag(option.image.thumb.url,alt:'Image',size: "200x200"),option.image.url, class: "img-fluid p-3 mx-auto"  if option.image? %>
				<p class='p-1 mx-4'><input  class= "form-check-input" type="checkbox" unchecked disabled>
					<%= option.title %>
				</p>
			</div>
		<% end %>
	</div>
<%else%>
	<div class='row'>
		<div class = "col-md-1">
		</div>
		<div class = "col-md-6">
			<% if option.correct%>
				<div class="card mb-1 correct-option">
					<p class='py-2 mx-5 my-auto'><input class= "form-check-input"type="checkbox" checked disabled>
						<%= option.title %>
					</p>
				</div>
			<%else%>
				<div class="card mb-1 incorrect-option">
					<p class='py-2 mx-5 my-auto'><input  class= "form-check-input" type="checkbox" unchecked disabled>
						<%= option.title %>
					</p>
				</div>
			<% end %>
		</div>
		<div class="col-md-3">
		</div>
	</div>
<%end%>
