<%= search_form_for @q, url:quizzes_path, class: "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 mx-lg-auto navbar-search" do |f| %>
	<div class="input-group date-filter px-3">
		<%= f.label :created_at_gteq,'Start Date:', class:'font-weight-bold'%>
		<%= f.date_field :created_at_gteq, class:"form-control border-0 small text-secondary pointer date-filter"%>
		<%= f.label :created_at_lteq, "End Date:", class:'font-weight-bold'%>
		<%= f.date_field :created_at_lteq, class:"form-control border-0 small text-secondary pointer date-filter"%>
		<div class="input-group-append">
			<%= button_tag type: 'submit', class: "btn btn-sm" do %>
				<i class="fa fa-filter fa-1x"></i>
			<% end %>
		</div>
	</div>
<% end %>
