<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboards">
		<div class="sidebar-brand-icon rotate-n-15">
		</div>
		<div class="sidebar-brand-text mx-3"><%= current_user.role %></div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<%= link_to(root_path, class: 'nav-link') do%>
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		<% end %>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">
		Interface
	</div>
	<!-- Nav Item - Pages Collapse Menu -->
	<%if current_user.admin?%>
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
				<i class="fa fa-list-alt"></i>
				<span>Components</span>
			</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Utilities:</h6>
					<%= link_to(questions_path,class: 'collapse-item') do%>
						<span> View Questions </span>
						<i class="fa fa-eye text-secondary pl-1"></i>
					<% end %>
					<%= link_to(new_question_path,class: 'collapse-item') do%>
						<span> Add Questions </span>
						<i class="fa fa-plus text-secondary pl-1"></i>
					<% end %>
					<%= link_to(categories_path,class: 'collapse-item') do%>
						<span> View Categories </span>
						<i class="fa fa-eye text-secondary pl-1"></i>
					<% end %>
					<%= link_to(new_category_path,class: 'collapse-item') do%>
						<span> Add Categories </span>
						<i class="fa fa-plus text-secondary pl-1"></i>
					<% end %>
				</div>
			</div>
		</li>
	<%end%>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-file"></i>
			<span>Quiz</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Quiz:</h6>
				<%= link_to 'Play Quiz', play_quiz_path,class: 'collapse-item' %>
				<%= link_to 'View Quiz', quizzes_path,class: 'collapse-item' %>
			</div>
		</div>
	</li>
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
	<!-- Sidebar Message -->
</ul>
